{% extends "layout.html" %}

{% block title %}
Login - Tweet App
{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">Login</h1>
<form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="{% url 'tweetList' %}" class="btn btn-secondary">Back</a> 
{% comment %} 
<h2>Logged out</h2>
<p>You have been logged out <a href="{% url 'register' %}">Please log in again.</p> {% endcomment %}
{% endblock %}