{% extends "layout.html" %}

{% block title %}
TweetSphere
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Search Results for "{{ query }}"</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if tweets %}
            <ul>
                {% for tweet in tweets %}
                <div class="col">
                    <div class="card h-100 border-2 border-secondary shadow-sm bg-dark text-white">
                        {%if tweet.photo %}
                            <img src="{{tweet.photo.url}}" class="card-img-top" alt="{{ tweet.user.username}}'s tweet image' style="object-fit: cover; height: 200px;">
                        {% else %}
                        <div class="card img-top bg-secondary d-flex align-items-center
                            justify-content-center" style="height: 200px;">
                            <span class="text-muted">No Image</span>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title mb-3">{{ tweet.user.username }}</h5>
                            <p class="card-text">{{ tweet.text | truncatewords:30 }}</p>
                    {% comment %} <li><strong>{{ tweet.user.username }}</strong>: {{ tweet.text }} ({{ tweet.created_at }})</li> {% endcomment %}
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">No tweets found for "{{ query }}".</p>
        {% endif %}
   
    </div>
             <btn class="btn btn-primary mt-3 " onclick="window.history.back();">Go Back</btn>

    </div>
{% endblock %}