{% extends "layout.html" %}

{% block title %}
Tweet App
{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">Welcome to Harshal's Tweet App</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweetCreate' %}">Create a tweet</a>

<div class="container row gap-3">
    {% for tweet in tweets %}   
    <div class="card" style="width: 18rem;">
        {% comment %} {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="{{ tweet.user.username }}'s tweet photo">
        {% else %}
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="No photo available">
        {% endif %} {% endcomment %}
        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="{{ tweet.user.username }}'s tweet photo">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            <a href="{% url 'tweetEdit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweetDelete' tweet.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}